@page "/principalpassword"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@using System.Reflection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using System.Collections.Generic;
@using defarge.Components;


<PageTitle>Password</PageTitle>

<h1>Password</h1>

<p>This component demonstrates fetching Password data from the server.</p>

@if (principalpasswordList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    Console.WriteLine($"ListTemplate: About to render DataTable with {@principalpasswordList.Length} items");
 
    
    <DataTable Data="@principalpasswordList" 
               DataType="typeof(PrincipalPasswordView)" 
               ShowActions="true" 
               ShowAddButton="true"
               OnEdit="@OnEditPrincipalPassword"
               OnAdd="@OnAddPrincipalPassword" />
    
    Console.WriteLine($"ListTemplate: DataTable rendered");
}

@code {
    protected  PrincipalPasswordView[]? principalpasswordList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        principalpasswordList = await remoteClient.GetFromJsonAsync<PrincipalPasswordView[]>("api/principalpassword");
        
        Console.WriteLine($"ListTemplate: Loaded {principalpasswordList?.Length ?? 0} principalpassword records");
        if (principalpasswordList != null && principalpasswordList.Length > 0)
        {
            Console.WriteLine($"ListTemplate: First item type: {principalpasswordList[0].GetType().Name}");
        }
    }

    async Task OnAddPrincipalPassword()
    {
        Navigation.NavigateTo("edit-principalpassword");
    }

    async Task OnEditPrincipalPassword(object item)
    {
        var principalpassword = (PrincipalPasswordView)item;
        Navigation.NavigateTo($"edit-principalpassword/{principalpassword.id}");
    }

}
