@page "/server"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@using System.Reflection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using System.Collections.Generic;
@using defarge.Components;


<PageTitle>Server</PageTitle>

<h1>Server</h1>

<p>This component demonstrates fetching Server data from the server.</p>

@if (serverList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    Console.WriteLine($"ListTemplate: About to render DataTable with {@serverList.Length} items");
 
    
    <DataTable Data="@serverList" 
               DataType="typeof(ServerView)" 
               ShowActions="true" 
               ShowAddButton="true"
               OnEdit="@OnEditServer"
               OnAdd="@OnAddServer" />
    
    Console.WriteLine($"ListTemplate: DataTable rendered");
}

@code {
    protected  ServerView[]? serverList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        serverList = await remoteClient.GetFromJsonAsync<ServerView[]>("api/server");
        
        Console.WriteLine($"ListTemplate: Loaded {serverList?.Length ?? 0} server records");
        if (serverList != null && serverList.Length > 0)
        {
            Console.WriteLine($"ListTemplate: First item type: {serverList[0].GetType().Name}");
        }
    }

    async Task OnAddServer()
    {
        Navigation.NavigateTo("edit-server");
    }

    async Task OnEditServer(object item)
    {
        var server = (ServerView)item;
        Navigation.NavigateTo($"edit-server/{server.id}");
    }

}
